APP_DEBUG = trueAPP_LANG = zh-cnAPP_HOST =DEFAULT_TIMEZONE = Asia/ShanghaiCACHE_DRIVER = fileFILESYSTEM_DRIVER = localLOG_CHANNEL = fileDB_CONNECTION=mysqlDB_TYPE = mysqlDB_HOSTNAME = 127.0.0.1DB_DATABASE = testDB_USERNAME = usernameDB_PASSWORD = passwordDB_DEBUG = trueDB_DEPLOY = 0